################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PlexSync/v15
/PlexSync/bin/Debug
/PlexSync/obj/Debug/81
/PlexSync/obj
/PlexSync/PlexSync.csproj.user
/.vs/PlexSync/v16
